<div
  class="h-50 fixed top-0 right-0 left-0 z-[100] w-96 bg-white py-4 px-8 sm:w-full lg:w-3/5 lg:bg-none"
  style="margin: 0"
>
  <h2 class="font-roboto text-3xl font-bold lg:text-5xl">Lockét</h2>
</div>
